.homepage {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  /* row-gap: 10px; */
}

.cover {
  height: 60vh;
  width: 100vw;
  background-image: url(https://images.unsplash.com/photo-1458560871784-56d23406c091?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  background-color: #fff9ff;
  text-align: center;
  padding: 10px;
}

.cover>.title {
  width: 420px;
  position: absolute;
  left: 20px;
  top: 8%;
  /* background: rgba(0, 0, 0, 0.5); */
  padding: 10px;
  border-radius: 8px;
}

.cover>.title>.heading {
  font-size: 3em;
  font-weight: bolder;

}

.cover>.title>.heading>.image {
  width: 400px;
  height: 40vh;
}

.main-content {
  padding: 20px;
  width: 99vw;
  display: flex;
  justify-content: center;
  border: solid 1px lightgrey;
  border-radius: 20px;
}

.albums {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  align-items: center;
}

.searchbar {
  width: 40vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 10px;
  box-shadow: 4px 4px 30px darkgrey;
}

.form1 {
  background: white;
  width: 100%;
  height: 60px;
  display: flex;
  border-radius: 10px;
}

.form1 input {
  flex: 1;

  border-color: azure;
  outline: none;

  padding-left: 36px;

  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-weight: 600;
}

.form1 button {
  background: darkgrey;
  color: white;
  cursor: pointer;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  width: 90px;
  font-weight: 600;
}

.album-collection {
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 10px;
  justify-content: center;
}

.album-cards {
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 10px;
  justify-content: center;
  border: 1px solid lightgray;
  border-radius: 16px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 49vh
}



.album-cards img {
  width: 46vh;
  height: 46vh;
  background-color: white;
  border: 1px;
  border-radius: 16px;
}

.album-cards h4,
h3 {
  background-color: white;
  color: maroon;
  padding: 2px;
  border: none;
}

.album-cards p {
  background-color: white;
  color: maroon;
  font-size: small;
  border: none;
}

.view-add-btns {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.music-collection,
.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
}

.reviews {
  width: 100%;
  padding: 20px;
}

.reviews-component {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.album-cards button {
  font-size: 12px;
  background-color: darkgrey;
  width: 160px;
  border-radius: 5px;
  padding: 6px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  border: none;
  margin-top: 10px;
}

.favorite-collection {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: left;
}

.fav-album-cards {
  border: 1px solid lightgray;
  border-radius: 16px;
  background-color: white;
  padding: 10px;
  width: 100%;


}

.fav-album-details {
  width: 20vh;
  height: auto;
  background-color: white;
  border: 1px;
  border-radius: 16px;
}

.fav-album-details>.fav-image {
  width: 20vh;
  height: 20vh;
  border-radius: 10px;
}

.remove-fav {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.remove-fav-btn {
  font-size: 12px;
  background-color: darkgrey;
  width: 180px;
  border-radius: 5px;
  padding: 6px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  border: none;
  margin-top: 10px;
}

.heading-h4,
.heading-h3 {
  background-color: white;
  color: maroon;
  padding: 2px;
  border: none;
}

.list-of-reviews {
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 10px;
  justify-content: center;
}

.review-cards {
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 10px;
  justify-content: center;
  border: 1px solid lightgray;
  border-radius: 16px;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 60vw;
}

.review-image-1 {
  width: 30vh;
  height: 30vh;
  background-color: white;
  border: 1px;
  border-radius: 16px;
}

.review-image-2 {
  width: 8vh;
  height: 8vh;
  border: 1px;
  border-radius: 16px;
}

.review-details {
  padding: 25px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.review-details h3,
h4,
p {
  background-color: lightgray;
  color: maroon;
  padding: 2px;
  border: none;
}

.review-data {
  display: flex;
  column-gap: 20px;
}

.review-metadata {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.rating-stars {
  display: flex;
  color: maroon;
}



/* .comments-section {} */

.comments-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
}

.comment-field {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.comment-field-btns {
  width: 200px;
  display: flex;
  column-gap: 10px;
}


.comment-input {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  margin-top: 20px;
  padding-top: 20px;
  border-top: solid 0.5px maroon;
  justify-content: space-between;
}

.comment-input input {
  width: 30vw;
  padding: 8px;
  border: solid 1px lightgray;
  outline: none;
  height: 40px;
  border-radius: 5px;
  flex: 1;
  transition: all 1s;
}

.comment-btn {
  background: lightgrey;
  border-radius: 8px;
  cursor: pointer;
  padding: 7px;
  color: maroon;
  /* width: 100px; */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  border: thin solid maroon;
  column-gap: 2px;
}