* {
  box-sizing: border-box;
  font-family: "Commissioner", sans-serif;
  font-family: "Merriweather", serif;
}


.homepage {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  /* row-gap: 10px; */
}

.cover {
  height: 60vh;
  width: 100vw;
  background-image: url(https://images.unsplash.com/photo-1458560871784-56d23406c091?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cover>.title {
  width: 420px;
  position: absolute;
  left: 30px;
  top: 4%;
  /* background: rgba(0, 0, 0, 0.5); */
  padding: 10px;
  border-radius: 8px;
}

.cover>.title>.heading {
  font-size: 3em;
  font-weight: bolder;

}

.cover>.title>.heading>.image {
  width: 400px;
  height: 40vh;
}